<div class="container">

  <div class="user-details">

    <div class="profile-picture">
      <img src="http://i.imgur.com/8PKlHjh.jpg?1">
    </div>

    <div class="user-info">
      <h2><%= @user.personal_info %></h2>
    </div>
  </div>

  <div class="user-groups">
    <% @user.groups.each do |group| %>
      <div class="individual-group">
        <h3><a href="/groups/<%= group.id %>"><%= group.name %> </a></h3>
        <ul>
          <% group.members.each do |member| %>
          <li> <%= member.username %> </li>
          <% end %>
        </ul>
        <h4>Popular Games</h4>
        <ul>
          <% group.group_games.each do |game| %>
            <li><a href="<%= game_path(game) %>"><%= game.name %></a></li>
          <% end %>
        </ul>


        <h4>Last Meetup</h4>

      </div>
    <% end %>
    <div class="new-group-button">
      <%= link_to new_group_path do %>
        <i class="fa fa-plus" id="plus-big" aria-hidden="true"></i>
        <h4>New Group</h4>
      <% end %>
    </div>
  </div>



  <div class="user-games">

    <div class="new-game-button">
      <%= link_to suggested_path do %>
        <i class="fa fa-plus" id="plus-big" aria-hidden="true"></i>
        <h4>New Game</h4>
      <% end %>
    </div>

    <% @users_games_hash.each do |game_name, game_pic_n_number| %>
      <div class="individual-game">
        <div class="game-icon">
          <img src=" <%= game_pic_n_number[0] %> ">
        </div>
        <h4>
          <a href="/games/<%= game_pic_n_number[1] %>"><%= game_name %></a>
        </h4>
      </div>
    <% end %>
  </div>
</div>
