<div class="header">

  <div class="floating">
    <a href="/"><h1>Games With Friends</h1></a>
  </div>

  <div class="search-bar floating">

    <%= form_tag('/games/results', method: :get) do %>
    <label>Search</label>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag("Search") %>
    <% end %>


  </div >

  <div class="user-nav floating">
    <% if session[:user_id] != nil %>
      <h4><a href="/users/<%= session[:user_id] %>"> <%= User.find(session[:user_id]).username %> </a></h4>
      <h4> <%= link_to "Logout", logout_path %> </h4>
    <% else %>
      <%= render partial: "sessions/login_form" %>
    <% end %>
  </div>

</div>
